<div id="global"> 
  <div id="selector"> 
    <form id="globalselector"> 
      <div id="networklabel"><a href='http://my-my.us/'><img src="/images/my-my-network.png" width="133" height="12" /></a></div> 
      <select name="network" id="networkselector" onChange="MM_jumpMenu('parent',this,1)"> 
        <option selected="selected" value="#">Select a My-My Site</option> 
        <% Settings::APPLICATIONS.each do |maker| %>
          <option value="<%= "http://#{maker}#{Settings::AppBase}" %>"><%= Settings::MAKERS[maker.to_sym][:title] %></option>
        <% end %>
      </select> 
      <label>Everything you need to find your next car&trade;</label> 
    </form> 
  </div> 
</div><!-- global --> 
