<div id="network-links"> 
  <h2>More Autos on My-My Network:</h2> 
  <a href="http://alfa-romeo.us/" title="">Alfa-Romeo</a>,
  <a href="http://my-audi.us/" title="">Audi</a>,
  <a href="http://my-bmw.us/" title="">BMW</a>,
  <a href="http://my-ferrari.us/" title="">Ferrari</a>,
  <a href="http://my-fiat.us/" title="">Fiat</a>,
  <a href="http://my-ford.us/" title="">Ford</a>,
  <a href="http://my-jeep.us/" title="">Jeep</a>,
  <a href="http://my-landrover.us/" title="">Land Rover</a>,
  <a href="http://my-toyota.us/" title="">Toyota</a>,
  <a href="http://my-volvo.us/" title="">Volvo</a>,
  <a href="http://myacura.us/" title="">Acura</a>,
  <a href="http://mycadillac.us/" title="">Cadillac</a>,
  <a href="http://mychevrolet.us/" title="">Chevrolet</a>,
  <a href="http://mychrysler.us/" title="">Chrysler</a>,
  <a href="http://mydodge.us/" title="">Dodge</a>,
  <a href="http://mygmc.us/" title="">GMC</a>,
  <a href="http://myhonda.us/" title="">Honda</a>,
  <a href="http://myhummer.us/" title="">Hummer</a>,
  <a href="http://myjaguar.us/" title="">Jaguar</a>,
  <a href="http://mylexus.us/" title="">Lexus</a>,
  <a href="http://mylotus.us/" title="">Lotus</a>,
  <a href="http://mymaserati.us/" title="">Maserati</a>,
  <a href="http://mymazda.us/" title="">Mazda</a>,
  <a href="http://mymercedes-benz.us/" title="">Mercedes Benz</a>,
  <a href="http://mymini.us/" title="">Mini</a>,
  <a href="http://mymitsubishi.us/" title="">Mitsubishi</a>,
  <a href="http://mynissan.us/" title="">Nissan</a>,
  <a href="http://myporsche.us/" title="">Porsche</a>,
  <a href="http://myrover.us/" title="">Rover</a>,
  <a href="http://mysaab.us/" title="">Saab</a>,
  <a href="http://mysmart.us/" title="">Smart</a>,
  <a href="http://mysubaru.us/" title="">Subaru</a>,
  <a href="http://myvolkswagen.us/" title="">Volkswagen</a> 
</div>