<div id="search"> 
  <div class="search-label">What are you looking for?</div> 
  <form id="mainsearch"> 
    <input type="text" id="keyword" value="Convertible" onfocus="if (this.value == 'Convertible') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Convertible';}"/> 
    <div id="price-option"> 
      <div class="heading">Maximum price</div> 
      <select name="price" id="maxprice"> 
        <option selected="selected" value="1000">$1000</option> 
        <option value="2000">$2000</option> 
        <option value="3000">$3000</option> 
        <option value="4000">$4000</option> 
        <option value="5000">$5000</option> 
        <option value="7500">$7500</option> 
        <option value="10000">$10000</option> 
        <option value="15000">$15000</option> 
        <option value="20000">$20000</option> 
        <option value="25000">$25000</option> 
        <option value="30000">$30000</option> 
        <option value="40000">$40000</option> 
        <option value="50000">$50000</option> 
        <option value="75000">$75000</option> 
        <option value="100000">$100000</option> 
        <option value="unlimited">Unlimited</option> 
      </select> 
    </div> 
    <input type="submit" id="submit-button" value=""/> 
  </form> 
</div><!-- search --> 
